@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.main {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-size: 20px;
  background-color: black;
  color: white;
}
.h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
.driverContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;

}
.driverCard {
  background:#041562;
  box-shadow: #ac4f4f;
  width: 200px;
  height: wrap-content;
  border-radius: 20px;
  margin: 8px;
  padding: 20px;
  text-align: center;
}

.driverCard h1 {
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.driverCard h2 {
  color: white;
  font-size: 15px;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}